---
import LinkButton from 'atoms:LinkButton';
import ThemeSwitcher from 'atoms:ThemeSwitcher';
import HamMenu from "atoms:HamMenu";
import {LanguageSelector} from "astro-i18next/components";
import pkg from '../../../package.json' assert {type: 'json'};
import Menu from './Menu.astro';
import {navMenus} from "../../models/Menu";

const appName = pkg.name.toString() ?? 'MindSync';
---

<nav
    class="fixed z-50 w-full flex-col justify-start items-center inline-flex sm:py-2 bg-tertiary-100 border-tertiary-50 dark:bg-tertiary-950 dark:border-tertiary-900"
>
    <div class="container py-3 mx-auto">
        <div class="flex items-center justify-between mx-1">
            <div class="flex items-center justify-start">
                <a href="/" class="flex mr-4">
                    <img
                        src='/favicon.svg'
                        class="h-8 mr-3"
                        alt={`${appName} Logo`}
                    />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
						{appName}
                    </span>
                </a>
                <div class="hidden sm:flex sm:ml-6">
                    <Menu menus={navMenus}/>
                </div>
            </div>

            <div class="flex justify-items-center justify-center ">
                <ThemeSwitcher class="hidden sm:flex"/>
                <LanguageSelector
                    showFlag={true}
                    class='hidden sm:flex language-selector'
                    tabindex="0"
                />
                <LinkButton
                secondary
                href="/login" class="hidden sm:flex">
                    Login
                </LinkButton>
                <HamMenu class="sm:hidden"/>
            </div>
        </div>
    </div>
    <!-- Mobile menu -->
    <div class="hidden sm:hidden" id="mobile-menu">
        <Menu menus={navMenus}>
            <div slot="last-menu" class="flex flex-col justify-center mx-auto">
                <LinkButton secondary href="/login">
                    Login
                </LinkButton>
                <LanguageSelector
                    showFlag={true}
                    class='language-selector'
                    tabindex="0"
                />
            </div>
        </Menu>
    </div>
</nav>

<style>
    .language-selector {
        @apply cursor-pointer select-none text-center text-tertiary-50 bg-tertiary-800 dark:bg-tertiary-800
        font-sans font-semibold uppercase rounded border-tertiary-700 px-5 py-2.5 mx-1;
    }
</style>
